<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dlshouwen.swda.bms.system.mapper.SystemMapper">

	<select id="getUserSystemList" resultType="com.dlshouwen.swda.bms.system.entity.System">
		select s.*
		from bms_system s
		left join bms_user_system us on s.system_id=us.system_id
		where us.user_id=#{userId} and s.deleted=0 and us.deleted=0 
		order by s.sort
	</select>
	
</mapper>