<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dlshouwen.swda.bms.mapper.RoleOrganMapper">

	<select id="getOrganIdList" resultType="long">
		select organ_id from bms_role_organ where role_id=#{roleId} and deleted=0
	</select>

	<select id="getDataScopeList" resultType="long">
		select o.organ_id
		from bms_role_organ ro
		left join bms_user_role ur on ro.role_id=ur.role_id
		where ur.user_id=#{userId} and ro.deleted=0 and ur.deleted=0
	</select>

</mapper>